<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css"/>
    <title>Инструкции</title>
</head>
<body background="../static/img/bg.jpg">
<h4 style="margin-top: 2%;">Инструкции в ГАУК "Саратовская обл. филармония им. А. Шнитке"</h4>
<div>
    <a class="btn btn-instructions" href="/OT1-page">ИНСТРУКЦИЯ № ОТ-1</a>
    <a class="btn btn-instructions" href="/OT4-page">ИНСТРУКЦИЯ № ОТ-4</a>
    <a class="btn btn-instructions" href="/OT9-page">ИНСТРУКЦИЯ № ОТ-9</a>
    <a class="btn btn-instructions" href="/OT12-page">ИНСТРУКЦИЯ № ОТ-12</a>
    <a class="btn btn-instructions" href="/OT13-page">ИНСТРУКЦИЯ № ОТ-13</a>
    <a class="btn btn-instructions" href="/OT15-page">ИНСТРУКЦИЯ № ОТ-15</a>
    <a class="btn btn-instructions" href="/OT18-page">ИНСТРУКЦИЯ № ОТ-18</a>
    <a class="btn btn-instructions" href="/OT22-page">ИНСТРУКЦИЯ № ОТ-22</a>
    <a class="btn btn-instructions" href="/OT23-page">ИНСТРУКЦИЯ № ОТ-23</a>
    <a class="btn btn-instructions" href="/OT40-page">ИНСТРУКЦИЯ № ОТ-40</a>

    <a class="btn btn-logout" href="/logout">Выйти из учетной записи</a>
</div>
</body>
</html>